[Unit]
Description=ButtonShim Listening Service
After=network.target

[Service]
User=pi
Group=pi
WorkingDirectory=/home/pi/rpi-unicorn-phat
ExecStart=/home/pi/rpi-unicorn-phat/buttonshim.py
PrivateTmp=true
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
